root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 2
indent_style = space
indent_size = 2

[**.bat]
end_of_line = crlf

[**.min.*]
indent_style = ignore
trim_trailing_whitespace = false
insert_final_newline = ignore

[*.slim]
insert_final_newline = false
trim_trailing_whitespace = false

[*.txt]
insert_final_newline = false
trim_trailing_whitespace = false
